// ***FOOTER***

footer{
  width: 100vw;
  padding: 205px 0px;
  @include basic-flex(center, center);
  border-top: 1px solid #1a191a;

  background: url("media/imgs/atom-rocket.svg") no-repeat #2c2a2b;
  background-position: calc(50% + 380px) 60px;


  #footer-content{
    width: $content-width;
    @include basic-flex(center, center);


    #footer-content-left{
      width: 50%;
      height: 275px;
      padding-right: 75px;
      box-sizing: border-box;
      @include basic-flex(space-between, flex-start, column)

      div{
        @extend %button;

        &:hover{
          background-color: $hover-color;
        }
      } //div
    } //footer-content-left

    #footer-content-right{
      width: 50%;
      height: 275px;
      padding-left: 75px;
      @include basic-flex(space-between, flex-start, column)

      #footer-content-uls{
        @include basic-flex(flex-start, flex-start, row);
        margin-bottom: 10px;

        ul{
          padding-right: 35px;
          line-height: 1.7em;

          li{
            font-size: 0.99em;
            letter-spacing: 0.03em;
            color: $atom-tan;

            a{
              color: $atom-yellow;

              &:hover{
                color: $hover-color;
              }
            } //a
          } //li
        } //ul
      } // footer-content-uls
    } //footer-content-right
  } //footer-content
} //footer
