// ***HEADER PARTIAL***

header{
  width: 100vw;
  height: 33px;
  padding: 5px 0px;

  background-color: #584C4F;

  display: flex;
  justify-content: center;

  font-size: 0.89em;

  #header-content{
    width:860px;
    height: 100%;

    display: flex;
    justify-content: space-between;

    #header-content-left{
      height: 100%;

      display: flex;
      align-items: center;

      ul{
        display: flex;
        justify-content: space-between;
        li{
          padding: 8px;

          @extend %fake-link;
          transition: 0.2s;

          &:hover{
            color: #81bf8c;
            transition: 0.2s;
          }
        }
      } //ul
    } //header-content-left
    #header-content-right{
      width: 100px;
      height: 100%;

    }
  } //header-content
} //header
