// LOCAL VARS


// ***HERO PARTIAL***

#hero{
  width: 100vw;
  @include basic-flex ();

  #hero-content{
    width: $content-width;
    padding-right: 120px;
    padding-top: 30px;

    #hero-content-top{
      width: 100%;
      @include basic-flex(space-between, center);

      //inline sass ani partial
      @import "hero-ani";

      #hero-content-top-ul{
        width: 228px;
        margin-left: 50px;

        ul{
          height: 350px;
          width: 228px;
          border: $border-style;
          border-radius: 20px;


          li{
            height: 25%;
            width: 100%;
            border-bottom: $border-style;
            @include basic-flex(center, center, column);

            h1{
              font-size: 1.4em;
              font-weight: 500;
              color: #eed9b7;
              margin-bottom: 0.4em;
            }

            span{
              font-size: 0.9em;
              color: #eed9b777;

              a{
                &:hover{
                  color: $hover-color;
                } //&:hover
              } //a
            } //span

            a{
              height: 65%;
              width: 80%;
              margin-bottom: 2px;

              div{
                height: 100%;
                width: 100%;
                background-color: #fed153;
                border-radius: 5px;
                @include basic-flex(center, center, row);

                img{
                  margin: 2px 10px 0px 0px;
                  height: 16px;
                  width: 14px;
                }

                span{
                  color: $body-Color;
                  font-weight: 500;
                  font-size: 1.1em;
                  letter-spacing: 0.03em;
                }

                &:hover{
                  background-color: $hover-color;
                } //&:hover
              } //div
            } //a

            &:last-child{
              border-bottom: none;
            } //&:last-child
          } //li
        } //ul
      }//hero-content-top-ul
    } //hero-content-top

    #hero-content-bottom{
      width: 100%;
      @include basic-flex( center, center, column);

      p{
        color: #766e63aa;
        font-size: 0.8em;

        a{
          color: #766e63;

          &:hover{
            color: $hover-color;
          }
        } //a
      } //p

      ul{
        width: 100%;
        margin-top: 40px;
        @include basic-flex(center, center);

        li{
          color: #8d8273;
          font-size: 0.9em;

          &:first-child{
            margin-right: 32px;
          }

          a{
            &:hover{
              color: $hover-color;
            }
          }

        } //li
      } //ul
    } //hero-content-bottom
  } //hero-content
} //hero
