// LOCAL VARS

$border-style: 1px solid #4e4b4d;

// ***HERO PARTIAL***

#hero{
  width: 100vw;
  @include basic-flex ();

  #hero-content{
    width: $content-width;

    #hero-content-top{
      width: 100%;
      @include basic-flex(space-between, flex-end);

      #hero-content-top-ani{
        width:  582px;
        height: 350px;
        background-color: darken($body-Color, 3%);
      }

      #hero-content-top-ul{
        width: 228px;
        margin-left: 50px;

        ul{
          height: 350px;
          width: 228px;
          border: $border-style;
          border-radius: 20px;

          li{
            height: 25%;
            width: 100%;
            border-bottom: $border-style;
            @include basic-flex(center, center);
            flex-direction: column;

            h1{
              font-size: 1.4em;
              font-weight: 500;
              color: #eed9b7;
              margin-bottom: 0.4em;
            }

            span{
              font-size: 0.9em;
              color: #eed9b777;
            }

            &:last-child{
              border-bottom: none;
            } //&:last-child
          } //li
        } //ul
      }//hero-content-top-ul
    } //hero-content-top
  } //hero-content
} //hero
