// ***PLACEHOLDERS***

%fake-link{
  cursor: pointer;
  user-select: none;
}

%button{
  width: fit-content;
  color: $body-Color;
  font-weight: 500;
  padding: 12px 16px;
  background-color: $atom-yellow;
  border-radius: $button-border-radius;
}
