// ***GLOBAL VARS***

$content-width: 860px;

$body-Color: #333233;

$body-text-color: #efeae1;

$hover-color: #EBAB00;

$border-style: 1px solid #4e4b4d;

$atom-tan: #efdab9;

$atom-yellow: #FED153;

$button-border-radius: 5px;
